<div class="container-fluid">
    <!--<section class="vh-100" style="background-color: #9A616D;">-->
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block centrarContenido">
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
    
                    <form (ngSubmit)="onLogin(loginForm)">
    
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <!--<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>-->
                        <img src="../../../../assets/img/claro.png" width="50px"  alt="Logo de Claro" >
                        <span class="h1 fw-bold mb-0" style="color: red;">Claro</span>
                      </div>
    
                      <h5 class="fw-normal mb-2 pb-2" style="letter-spacing: 1px;">Iniciar sesión en su cuenta</h5>

                      <div class="form-outline mb-4 form-group">
                        <label class="form-label" for="form2Example17">Usuario</label>
                        <input type="email" id="form2Example17" class="form-control form-control-lg" placeholder="Ingrese su usuario" name="usuario" pInputText required/>
                      </div>
    
                      <div class="form-outline mb-4 form-group">
                        <label class="form-label" for="form2Example27">Contraseña</label>
                        <input type="password" id="form2Example27" class="form-control form-control-lg" placeholder="Ingrese su contraseña" name="contrasena" pInputText required/>
                      </div>
                      
                      <!--<div class="pt-1 mb-4">
                        <button class="btn btn-dark btn-lg btn-block" type="button" (click)="login()">Login</button>
                      </div>-->
  
                      <div class="pt-1 mb-4">
                        <button pButton class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                      </div>
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="spinner" *ngIf="cargarLogo">
        <img src="../../../../assets/img/loading.gif" alt="Logo de Claro" >
    </div>-->
    </section>
  </div>