@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}


@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

.custom-container {
  @include make-container();
}

.centrarContenido {
    align-self: center;
}

.card{
    background-color: #fff0;
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(113, 110, 110, 0.15);
    z-index: 1000000;
    display: flex;
    align-items: center;
    justify-content: center;
}